export DB_USER=davo
export DB_PASSWORD=koda01
export DB_HOST="localhost"
export DB_PORT="5432"
export DB_NAME=inge
export FERNET_KEY=""
# export FRONTEND_BASE_URL="http://localhost:5173"
export MP_ACCESS_TOKEN=""

# export FRONTEND_BASE_URL="https://849d-2802-8012-f82-3401-287c-1525-5b5b-b50e.ngrok-free.app/"
export MP_ACCESS_TOKEN="APP_USR-5892498648856585-051315-5111000bccc9c379c4939a1a10e4285c-2462651971"

# Mailjet
export MAILJET_SMTP_HOST="in-v3.mailjet.com"
export MAILJET_SMTP_PORT="587"
export MAILJET_SMTP_TIMEOUT="15"
export MAILJET_API_KEY="3060be3b25b45cce5b38a729b7f1391f"
export MAILJET_SECRET_KEY="a5a0003a5a95267fc897ae4bffca3730"
export MAILJET_SENDER_DOMAIN="capoelmate.com.ar"
export MAILJET_SENDER_LOCAL_PART="no-reply"
export MAILJET_SENDER_EMAIL=""
export MAILJET_SENDER_NAME="Centro de Actividades"
export FRONTEND_LOGIN_URL="http://localhost:5173/login"


export TELEGRAM_BOT_TOKEN=""
export TELEGRAM_CHAT_ID=""
export FRONTEND_BASE_URL=""
export TOKEN_EXPIRY_MINUTES="15"