export DB_USER=davo
export DB_PASSWORD=koda01
export DB_HOST="localhost"
export DB_PORT="5432"
export DB_NAME=inge
export FERNET_KEY=""
export FRONTEND_BASE_URL="http://localhost:5173"
export MP_ACCESS_TOKEN=""
