export DB_USER=davo
export DB_PASSWORD=koda01
export DB_HOST="localhost"
export DB_PORT="5432"
export DB_NAME=inge
export FERNET_KEY=""
export FRONTEND_BASE_URL="http://localhost:5173"
export MP_ACCESS_TOKEN=""

# Mailjet
export MAILJET_SMTP_HOST="in-v3.mailjet.com"
export MAILJET_SMTP_PORT="587"
export MAILJET_SMTP_TIMEOUT="15"
export MAILJET_API_KEY=""
export MAILJET_SECRET_KEY=""
export MAILJET_SENDER_DOMAIN=""
export MAILJET_SENDER_LOCAL_PART="no-reply"
export MAILJET_SENDER_EMAIL=""
export MAILJET_SENDER_NAME="Centro de Actividades"
export FRONTEND_LOGIN_URL="http://localhost:5173/login"
